@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
    color: var(--corfont);
    text-decoration: none;
    list-style-type: none;

}

:root {
    --corbg: #2D3033;
    --corbtn: #203A57;
    --corfont: #fff;
    --corlogo: #76A5DB;
    --sombra: 05px 10px 8px rgba(0, 0, 0, 0.247);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: var(--corbg);
    overflow-x: hidden;
    flex: 1;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 5px;
}

.logo {
    display: flex;
}

.logo h1 {
    margin-top: 15px;
    font-size: 50px;
    letter-spacing: 3px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px 200px;
}

nav ul li {
    margin: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    color: var(--corlogo);
    border-bottom: 2px solid;
    transition: .7s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .banner {
    width: 90vw;
    height: 400px;
    background-color: var(--corlogo);
}

main .containerfc {
    display: flex;
}

main .filtros {
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    padding: 0 15px;
    margin-top: 50px;
    user-select: none;
}

main .filtros h3 {
    margin-bottom: 10px;
}

main .filtros h4 {
    background-color: var(--corbtn);
    margin: auto;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
}

main .filtros label {
    margin: 5px auto;
}

main .filtros input[type="checkbox"] {
    display: none;
}

main .filtros label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

main .filtros input + label::before{
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--corlogo);
    display: inline-block;
}

main .filtros input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 -0.5 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class='si-glyph si-glyph-checked'%3E%3Ctitle%3E1228%3C/title%3E%3Cdefs%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M3.432,6.189 C3.824,5.798 4.455,5.798 4.847,6.189 L6.968,8.31 L13.147,2.131 C13.531,1.747 14.157,1.753 14.548,2.144 L16.67,4.266 C17.06,4.657 17.066,5.284 16.684,5.666 L7.662,14.687 C7.278,15.07 6.651,15.064 6.261,14.673 L1.311,9.723 C0.92,9.333 0.92,8.7 1.311,8.31 L3.432,6.189 Z' fill='%23fff' class='si-glyph-fill'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

main .filtros button {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--corbtn);
    margin: 10px auto;
    width: 200px;
    border: none;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    box-shadow: var(--sombra);
    cursor: pointer;
}

main .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-rows: 1fr;
    gap: 5px;
    padding-top: 50px;
    width: 80vw;

}

main .container-cards .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: var(--sombra);
    background-color: var(--corlogo);
    cursor: pointer;
    user-select: none;
}

main .container-cards .card:hover {
    background-color: var(--corbg);
    transition: 0.4s;
}

main .container-cards img {
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: var(--sombra);
}

main .container-cards h3 {
    text-align: center;
    font-size: 20px;
    color: var(--corfont);
    line-height: 20px;
    padding-top: 15px;
}

/* 
________________________________________PAGINA DE DETALHES DOS PRODUTOS________________________________________*/

.info-ar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    width: 95vw;
    height: 500px;
    border-radius: 20%;
    text-align: center;
    background-color: var(--corlogo);
}

.info-ar .foto img {
    width: 300px;
    border-radius: 10px;
    box-shadow: var(--sombra);
}

.info-ar h1 {
    margin-bottom: 150px;   
}

.lojas {
    margin: auto;
    padding: 20px;
    width: 80vw;
    background-color: var(--corbtn);
    margin-top: 10px;
    border-radius: 10px;
}

.lojas .lj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--corbg);
    margin-bottom: 5px;
}

.lojas .lj .logol img {
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
}

.lojas .lj p {
    font-size: 20px;
    line-height: 25px;
}
.lojas .lj span {
    color: var(--corlogo);
    font-size: 30px;

}

.lojas .lj .link {
    background-color: var(--corlogo);
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: var(--sombra);
    user-select: none;
    cursor: pointer;
}

.lojas .lj .link:active {
    box-shadow: none;
    background-color: var(--corbg);
}

.esp-tec {
    width: 80vw;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--corlogo);
}

/* 
________________________________________ESPECIFICAÇÕES TECNICAS________________________________________*/

.esp-tec table {
    margin: 10px auto;
    font-size: 30px;
    border-collapse: collapse;
    width: 70vw;
    
}

.esp-tec table th {
    text-align: left;
    padding: 10px;
}

.esp-tec table td {
    padding: 10px;
    
}

.esp-tec table tr:nth-child(2n) {
    background-color: var(--corbtn);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corbtn);
    height: 90px;
}