@media (min-width: 200px) and (max-width: 749px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        padding: 0;
        margin: 0;
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        box-sizing: border-box;
        color: var(--corfont);
        text-decoration: none;
        list-style-type: none;
    }

    :root {
        --corbg: #2D3033;
        --corbtn: #203A57;
        --corfont: #fff;
        --corlogo: #76A5DB;
        --sombra: 05px 10px 8px rgba(0, 0, 0, 0.103);
    }

    header {
        width: 100vw;

    }
   
    header .logo img {
        width: 50px;

    }

    .logo h1 {
        margin-top: 28px;
        font-size: 30px;
        letter-spacing: 3px;
    }

    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 10px 5px;
    }
    
    nav ul li {
        margin: 30px 10px;
        text-decoration: none;
        font-size: 20px;
    }

    main .banner {
        display: none;
        width: 500px;
        height: 25vh;
    }

    main .banner h1 {
        background-color: #00000094;
        max-width: 300px;
        min-width: 100px;
        height: 100%;
        font-size: 1.5rem;
        padding-top: 25px;
        padding-left: 10px;
        line-height: 30px;
    }

    .filtro-link {
        display: flex;
        align-items: end;
        justify-content: end;
        width: 100vw;
        margin-top: 50px;
        margin-right: 200px;
    }

    .filtro-link a {
        color: var(--corlogo);
        font-size: 2.5rem;
        letter-spacing: 5px;
        font-weight: 500;
        border-bottom: 1px solid var(--corlogo);
        padding: 10px;
        cursor: pointer;
    }
    
    main .container-cards {
        display: block;
        width: 100vw;
        margin-left: 0;
        padding-top: 10px;
    }

    main .container-cards .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 10px auto;
        height: 110px;
    }

    main .container-cards img {
        border-radius: 10px;
        width: 100px;
        margin-bottom: 0;
        box-shadow: var(--sombra);
    }
    
    main .container-cards h3 {
        text-align: center;
        font-size: .7rem;
        margin: 10px;
        color: var(--corfont);
        line-height: 12px;
        padding-bottom: 10px;
    }

    main .filtros .hidden{
        display: none;
    }

    main .filtros button {
        position: absolute;
        left: 50vw;
        top: 0;
        width: 100px;
    }

    .apfiltro {
        margin-bottom: 10px;
        left: 70vw;
        top: 30vh;
        width: 128px;
        cursor: pointer;
        user-select: none;
    }

    .apfiltro a {
        background-color: var(--corlogo);
        padding: 10px;
        border-radius: 10px;
        color: var(--corfont);
        user-select: none;
    }


    #filtros {
        position: fixed;
        z-index: 1000;
        padding-top: 20px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 70vh;
        bottom: -70vh;
        background-color: var(--corbg);
        overflow-y: auto;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    

    .show {
        transform: translateY(-100%);
    }

    .filtro-link a {
        color: var(--corlogo);
        font-size: 1rem;
        letter-spacing: 5px;
        font-weight: 500;
        border-bottom: 1px solid var(--corlogo);
        padding: 10px;
        cursor: pointer;
    }

    footer {
        width: 100vw;
        margin-top: 20px;
    }

    footer p {
        margin: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 13px;
    }
}